.handling {
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}

.subhandling {
  margin: auto;
  margin-top: 10rem;
  width: 40%;
}

.link {
  text-decoration: none;
}

/* .card {
  background-color: white;
  border: none !important;
  width: 15rem;
  height: 5rem !important;
  min-height: 15dvh;
  align-items: center;
  justify-content: center;
  margin: 5rem !important;
} */

.card {
  min-height: 15dvh;
  align-items: center;
  justify-content: center;
}

.col-md-3 {
  width: 16rem !important;
}

.drop {
  color: #b82d2d;
  font-size: 2.5rem !important;
}

.drop1 {
  color: rgb(50, 100, 151);
  font-size: 2rem !important;
}

.type {
  padding: 4px;
}

.divider {
  border: 0.2px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .row.type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-md-3 {
    flex: 0 0 50%;
    padding: 10px;
    /* 2 items per row on smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .col-md-3 {
    flex: 0 0 100%;
    /* 1 item per row on extra small screens */
  }
}

table {
  margin: 0.75rem !important;
}

th {
  padding: 1rem;
  background-color: rgb(28, 170, 170);
}

td {
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.custom-table th {
  background-color: rgb(28, 170, 170);
}

/* .custom-table th {
  background-color: #f2f2f2;
} */

.table-responsive {
  overflow-x: auto;
  margin: 2.5rem;
}

.huya-table {
  width: 100%;
  border-collapse: collapse;
}

.huya-table th,
.huya-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.huya-table th {
  background-color: rgb(28, 170, 170);
}

/* .custom-table th {
  background-color: #f2f2f2;
} */

.io-responsive {
  overflow-x: auto;
  margin: 0.4rem;
}
.lala-table {
  width: 100%;
  border-collapse: collapse;
}

.lala-table th,
.lala-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.lala-table th {
  background-color: rgb(28, 170, 170);
}

/* .custom-table th {
  background-color: #f2f2f2;
} */

.iso-responsive {
  overflow-x: auto;
  margin: 0.4rem;
  width: 55rem;
}